<!-- לינק לעמוד הראשי -->
<a href="/">עמוד הבית</a>

<!-- לינק לעמוד של time_clock -->
<a href="/time_clock">עמוד השעון</a>

<!-- לינק לעמוד של employee_time -->
<a href="/employee_time">עמוד זמן עובד</a>